# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.GridPractice.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Admin\Documents\Unity\GridPractice\.idea\.idea.GridPractice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
